In [1]:
# Dependencies
from bs4 import BeautifulSoup
from time import sleep

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147
[WDM] - Driver [C:\Users\Boss\.wdm\drivers\chromedriver\win32\84.0.4147.30\chromedriver.exe] found in cache

## NASA Mars News scraping

In [3]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Let the script to wait for the browser to be fully loaded
sleep(1)

In [5]:
# Create BeautifulSoup object; parse with 'lxml'
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [6]:
# Select the first element containing the latest news
latest_news = soup.select_one("ul.item_list li.slide")
print(latest_news.prettify())

<li class="slide">
 <div class="image_and_description_container">
  <a href="/news/8742/follow-nasas-perseverance-rover-in-real-time-on-its-way-to-mars/" target="_self">
   <div class="rollover_description">
    <div class="rollover_description_inner">
     A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.
    </div>
    <div class="overlay_arrow">
     <img alt="More" src="/assets/overlay-arrow.png"/>
    </div>
   </div>
   <div class="list_image">
    <img alt="Illustration of Mars 2020 spacecraft" src="/system/news_items/list_view_images/8742_Mars2020-Earth-226.jpg"/>
   </div>
   <div class="bottom_gradient">
    <div>
     <h3>
      Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
     </h3>
    </div>
   </div>
  </a>
  <div class="list_text">
   <div class="list_date">
    August 21, 2020
   </div>
   <div class="content_title">
    <a href="/news/8742/follow-nasas-perseverance-rover-in-real-time-on-its-way-to-mars/" target="_self">
     Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
    </a>
   </div>
   <div class="article_teaser_body">
    A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.
   </div>
  </div>
 </div>
</li>

In [7]:
# Retrieve the latest news title
news_title = latest_news.find('div', class_="content_title").get_text()
news_title

"Follow NASA's Perseverance Rover in Real Time on Its Way to Mars"

In [8]:
# Retrieve the latest news paragraph
news_p = latest_news.find('div', class_='article_teaser_body').get_text()
news_p

"A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing."

## JPL Mars Space Images - Featured Image

In [9]:
# URL of page to be scraped
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [10]:
browser.click_link_by_id("full_image")

In [11]:
browser.links.find_by_partial_text("more info").click()

In [12]:
# Create BeautifulSoup object; parse with 'lxml'
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [13]:
large_image_url = soup.find(class_="main_image")["src"]

In [14]:
featured_image_url = f"https://www.jpl.nasa.gov{large_image_url}"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA20316_hires.jpg'

## Mars Facts

In [15]:
import pandas as pd

In [16]:
fact_url = "https://space-facts.com/mars/"
scraped_dfs = pd.read_html(fact_url)

In [17]:
for df in scraped_dfs:
    display(df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
df = scraped_dfs[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df.columns = ["Description", "Mars"]
df.set_index("Description", inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [21]:
df.to_html('table.html')

## Mars Hemispheres

In [22]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [23]:
link_elements = browser.find_by_xpath('//*[@id="product-section"]/div[2]/child::div/a')

In [24]:
for element in link_elements:
    print(element.outer_html)

<a href="/search/map/Mars/Viking/cerberus_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png" alt="Cerberus Hemisphere Enhanced thumbnail"></a>
<a href="/search/map/Mars/Viking/schiaparelli_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png" alt="Schiaparelli Hemisphere Enhanced thumbnail"></a>
<a href="/search/map/Mars/Viking/syrtis_major_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png" alt="Syrtis Major Hemisphere Enhanced thumbnail"></a>
<a href="/search/map/Mars/Viking/valles_marineris_enhanced" class="itemLink product-item"><img class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png" alt="Valles Marineris Hemisphere Enhanced thumbnail"></a>

In [26]:
hemisphere_image_urls = list()

for element in link_elements:
    soup = BeautifulSoup(element.outer_html, 'lxml')
    
    title = soup.img["alt"].split("Enhanced")[0]
    
    my_link = soup.a["href"]
    
    browser.click_link_by_partial_href('my_link')
    browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[2]/a')
    second_soup = BeautifulSoup(browser.outer_html, 'lxml')
    img_url = soup.a["href"]
    
    print("------------------")
    print(title)
    print(img_url)
    hemisphere_image_urls.append({
        "title": title,
        "img_url": img_url
    })

C:\Users\Boss\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:520: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

ElementDoesNotExist: no elements could be found with link by partial href "my_link"